$black: #1b1b1b;
$red: #b34044;
$grey: #a0a0a0;
$white: #ffffff;
$darkwhite: #f0f1f5;
$orange: #f3911c;
$pink: #e95d72;

$screen-xs: 320px;
$screen-s: 480px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1400px;
$screen-xxl: 1600px;
$screen-xxxl: 1700px;
$screen-max: 3400px;

$screen-tall-l: 768px;
$screen-tall-xl: 875px;
$screen-tall-xxl: 1001px;

$fontRegular: "SFProRegular";
$fontBlack: "SFProBlack";
$fontHeavy: "SFProHeavy";
$fontLight: "SFProLight";
$fontMedium: "SFProMedium";
$fontSemibold: "SFProSemibold";
$fontThin: "SFProThin";
$fontUltralight: "SFProUltralight";

$defaultBoxShadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
